html {
    background-color: black;
}

img {
    height: 500px; width: 500px; 
}

h1 {
    color: aliceblue; font-style: italic;
}

h2 {
    color: aliceblue; font-style: italic;
}

#image-1 {
    border: 10px solid aliceblue
}

#obj-0 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#obj-1 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#obj-2 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




